<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css"/>
    <title>My Books Library</title>
</head>

<body class="body-library-archive">
  <a href="/" class="return-button">Return to Home</a>

  <div class="counter-box">
    <span id="book-counter"><%= listBooks.length  %></span> books read
  </div>

    <div class="box-archive">

        <h1 class="archive-h1"> My Library</h1>

        <!-- <div class="row-archive">
         <div class="column-archive"> -->

           <div id ="my-library-archive-bg-box" class = "visible">
                    <input type="text" id="search-input" placeholder="Search...">
                    <ul id="search-suggestions"></ul>

                     <% listBooks.forEach(function(book, index) { %>
                      
                      <div class="my-library-archive-books-box <% if (index >= 5) { %>hidden<% } %>">
                        <span class="book-info">
                        <%= book.title %> by <%= book.author %>
                      </span>

                        <form action="/delete" method="post" class="delete-form">
                          <input type="hidden" name="deleteItemId" value="<%= book.id %>">
                          <button class="delete-button" type="submit">Delete</button>
                        </form>  
                        
   
                      </div>
                      <% }); %>     
            </div>

            <% if (listBooks.length > 5) { %>
                 <button id="show-more-button" type="button" onclick="handleShowMoreClick()">Show More</button>
            <% } %> 
                
          </div>
        </div>
    </div>
  <script>

// Books counter Event Listener
      document.addEventListener("DOMContentLoaded", function() {
          function updateBookCounter() {
              var counterElement = document.getElementById("book-counter");

              counterElement.textContent = listBooks.length;
      }
          updateBookCounter();
        });


// Onclick function of show-more-button
        function handleShowMoreClick() {
          var hiddenBooks = document.querySelectorAll('.my-library-archive-books-box.hidden');

            hiddenBooks.forEach(function(book) {
              book.classList.remove('hidden');
            });

            var showMoreButton = document.getElementById('show-more-button');
            showMoreButton.style.display = 'none'; // Hide the button once all books are visible
  }

// Event listener for search bar matching
  document.addEventListener("DOMContentLoaded", function() {
    var searchInput = document.getElementById("search-input");
    var books = document.querySelectorAll(".my-library-archive-books-box");

    searchInput.addEventListener("input", function() {
      var searchText = searchInput.value.toLowerCase();

      books.forEach(function(book) {
        var title = book.textContent.toLowerCase();
        if (title.includes(searchText)) {
          book.style.display = "block";
        } else {
          book.style.display = "none";
        }
      });
    });
  });
    </script>
</body>


<%- include('footer.ejs'); -%>
